<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<h5 th:if="${message}" th:text="${message}"></h5>

<form method="post" th:object="${recipe}">

    <!--    BASE RECIPE INFO-->
    <fieldset>
        <label>Name
<!--            <input type="text" name="recName"/>-->
            <input th:field="*{name}"/>
        </label>
        <span th:errors="*{name}"></span>

        <label>Description
            <input th:field="*{description}"/>
        </label>
        <span th:errors="*{description}"></span>
    </fieldset>

    <!--    CATEGORIES-->
    <fieldset>
        <label th:for="categories">Category
            <th:block th:each="category : ${categories}">
                <input type="checkbox" name="categories" th:value="${category.id}">
                <label th:text="${category.name}"></label>
            </th:block>
        </label>
        <span th:errors="*{categories}"></span>
    </fieldset>

<!--    INGREDIENTS-->
    <fieldset>
        <th:block th:field="*{ingredients}" th:each="ingredient, ing : ${ingredients}">
            <label>Ingredients
                <input th:name="|ingredient[${ing.index}].name|"/>
<!--            <input th:field="*{ingredient.name}"/>-->
            </label>
            <span th:errors="${ingredient.name}"></span>
        <div id="addIngredient">
            <label>Ingredient
                <input th:field="${ingredient.name}"/>
            </label>
            <span th:errors="${ingredient.name}"></span>

            <label>Amount
                <input th:name="|ingredient[${ing.index}].amount|"/>
            </label>
            <span th:errors="${ingredient.amount}"></span>
            <label>Amount
                <input th:field="${ingredient.amount}"/>
            </label>
            <span th:errors="${ingredient.amount}"></span>

            <label th:for="units">Unit
    <!--            <select name="unitId">-->
    <!--                <option th:each="unit : ${units}"-->
    <!--                        th:text="${unit.abbreviation}"-->
    <!--                        th:value="${unit.id}"></option>-->
    <!--            </select>-->

                <select th:name="|ingredient[${ing.index}].unit|">
                    <option th:each="unit : ${units}"
                            th:text="${unit.abbreviation}"
                            th:value="${unit.id}"/>
                </select>
            </label>
        </th:block>

            <label th:for="units">Unit
                <select name="unitId">
                    <option th:each="unit : ${units}"
                            th:text="${unit.abbreviation}"
                            th:value="${unit.id}"></option>
                </select>
            </label>
            <button type="button"></button>
        </div>
    </fieldset>
<!--    <span th:errors="${unit.abbreviation}"></span>-->

<!--    DIRECTIONS-->
    <fieldset>
        <label th:field="*{directions}" th:each="direction, dir : ${directions}">Directions
            <ol>
                <li><input th:name="|direction[${dir.index}].instruction|"></li>
            </ol>
        </label>
        <span th:errors="*{instruction}"></span>
    </fieldset>

<input type="submit" value="Create Recipe"/>

</form>

</body>
</html>