<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<div class="pageContent">
    <form method="post">
        <label>Select Recipes for Deletion:</label>
        <th:block th:each="recipe : ${recipes}">
            <input type="checkbox" name="recipeIds" th:value="${recipe.id}">
            <span th:text="${recipe.name}"></span>
        </th:block>
        <input type="submit" value="Delete">
    </form>
</div>

</body>
</html>