<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<div class="pageContent">
    <form method="post">
        <label>Select one or more recipes for deletion:</label>
        <ul th:each="recipe : ${recipes}">
            <ol>
                <input type="checkbox" name="recipeIds" th:value="${recipe.id}">
                <label th:text="${recipe.name}"></label>
            </ol>
        </ul>
        <input type="submit" value="Delete">
        <a class="editDeleteLinks" th:href="@{/recipe/browse}">Cancel</a>
    </form>
</div>

</body>
</html>