<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<form method="post" th:object="${recipe}">
<!--    BASE RECIPE INFO-->
<fieldset>
    <label>Name</label>
    <input th:field="${recipe.name}"/>
    <span th:errors="${recipe.name}"></span>

    <label>Description</label>
    <input th:field="${recipe.description}"/>
    <span th:errors="${recipe.description}"></span>

</fieldset>

<!--    CATEGORIES-->
<fieldset>
    <label>Category</label>
        <th:block th:each="category : ${categories}">
            <label th:text="${category.name}"></label>
            <input type="checkbox"
                   th:value="${category.id}"
                   th:field="${recipe.categories}"/>
        </th:block>
    <span th:errors="${recipe.categories}"></span>
</fieldset>


<!--&lt;!&ndash;    INGREDIENTS&ndash;&gt;-->
<!--<fieldset>-->
<!--    <label th:each="ingredient : ${recipe.ingredients}">Ingredient-->
<!--        <input th:field="${recipe.ingredients}" th:value="${ingredient.name}"/>-->
<!--    </label>-->
<!--&lt;!&ndash;    <span th:errors="${ingredient.name}"></span>&ndash;&gt;-->

<!--    <label>Amount-->
<!--        <input th:field="${recipe.ingredients}" th:value="${ingredient.amount}"/>-->
<!--    </label>-->
<!--&lt;!&ndash;    <span th:errors="${ingredient.amount}"></span>&ndash;&gt;-->

<!--    <label>Unit-->
<!--        <select name="unitId">-->
<!--            <option th:each="unit : ${units}"-->
<!--                    th:text="${unit.abbreviation}"-->
<!--                    th:value="${unit.id}"-->
<!--                    th:selected="${ingredient.unit.id}"></option>-->
<!--        </select>-->
<!--    </label>-->
<!--</fieldset>-->
<!--&lt;!&ndash;    <span th:errors="${unit.abbreviation}"></span>&ndash;&gt;-->


<!--    DIRECTIONS-->
<fieldset>
    <label>Directions</label>
    <ol th:each="direction : ${recipe.directions}">
        <li><input th:value="${direction.instruction}"/></li>
        <span th:errors="${directions}"></span>
    </ol>
</fieldset>

<!--    <ol th:each="direction : ${recipe.directions}">-->
<!--        <li th:text="${direction.instruction}"></li>-->
<!--    </ol>-->

<input type="hidden" th:field="${recipe.id}" name="eventId"/>

<input type="submit" value="Save Changes"/>

</form>

</body>
</html>