<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class="pageContent">

    <div th:replace="fragments :: navigation"></div>

    <p th:text="${recipe.description}"></p>

    <h3>Ingredients</h3>
    <p th:each="ingredient : ${recipe.ingredients}">
            <span th:text="${ingredient.name}"></span>
            <span th:text="${ingredient.amount}"></span>
            <span th:text="${ingredient.unit.abbreviation}"></span>
    </p>
    <h3>Directions</h3>
    <ol>
        <li th:each="direction : ${recipe.directions}">
            <p th:text="${direction.instruction}"></p>
        </li>
    </ol>

    <h3>Categories</h3>
    <div th:each="category : ${recipe.categories}">
        <p th:text="${category.name}"></p>
    </div>

    <!--<h3>Servings</h3>-->
    <a class="buttonLinks" th:href="@{'/recipe/edit/' + ${recipe.id}}">Edit</a>
    <form method="post" action="delete" th:object="${recipe}" id="modifyCheck">
        <input type="hidden" th:value="*{id}" name="recipeId"/>
        <input type="submit" value="Delete" name="Delete"/>
    </form>
</div>

</body>
</html>