body {
    margin: 0;
    font-family: 'Lora';
    font-size: 15px;
    background-color: #e8e0d5;
    }

button {
    background-color: #6B7A8F;
    color: white;
    border: none;
    border-radius: 3px;
    padding: .5em 1em;
    font-family: 'Lora';
    font-size: 15px;
   }

button:hover {
    background-color: #F7882F;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Lora';
    font-size: 15px;
    }

fieldset {
    border: none;
    }

form {
    position: relative;
    }

h1 {
    font-family: 'Amita';
    margin-top: 0;
    margin-bottom: 0;
    padding: 0em 1em 0em 1em;
    }

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amita';
    color: #29231D;
    margin-top: 0;
    margin-bottom: 0;
    padding: .25em 0em .25em 0em;
    }

input[type=submit] {
    background-color: #6B7A8F;
    color: white;
    border: none;
    border-radius: 3px;
    padding: .75em 1.75em;
    font-family: 'Lora';
    font-size: 15px;
    }

input[type=submit]:hover {
    background-color: #F7882F;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Lora';
    font-size: 15px;
    }

nav {
    display: block;
    background-color: #6B7A8F;
    position: sticky;
    top: 0;
    }

nav a:link, nav a:visited {
    color: white;
    background-color: #6B7A8F;
    padding: .75em 1.75em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid white;
    }

nav a:hover, a:active {
    background-color: #F7882F;
    color: white;
    }

ul {
    list-style-type: none;
    }

ul li {
    padding: .25em .25em .25em .25em;
    }

ul li:hover{
    background-color: #DCC7AA;
    }

li a:link {
    text-decoration: none;
    color: #29231d;
    }

li a:visited {
    text-decoration:none;
    color: #29231d;
}

li a:hover {
    text-decoration: underline;
    color: white;
}

.authentication {
    display: inline-block;
    float: left;
    }

.authLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 8em;
    text-align: left;
    padding: .25em 0em .25em 0em;
    }

.editDeleteLinks {
    background-color: #6B7A8F;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 3px;
    padding: .75em 1.75em;
    font-family: 'Lora';
    font-size: 15px;
    }

.editDeleteLinks:hover {
    background-color: #F7882F;
    color: white;
    }

.formContent {
    padding: 1em 0em 1em 0em;
    }

.header {
    width: 100%;
    background-color: #F7C331;
    color: white;
    }

.inputDiv {
    padding: 1em 0em 1em 0em;
    }

.inputLabel {
    font-weight: bold;
    padding: 2em 1em 2em 1em;
    }

.pageContent {
    padding: 0em 2em 0em 2em;
    position: relative;
    }

.register-login {
    padding: .25em 0em .25em 0em;
    }

#delete {
    position: relative;
    top: 3em;
    left: 20em;
    }


    {
    nav #6B7A8F
    title & accents #F7C331
    hover & other accents #F7882F
    }