<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<div class="pageContent">
    <p>Add custom categories to improve searching.</p>



    <form method="post" >
        <input th:field="${category.name}"/>
        <span th:errors="${category.name}"></span>

        <input type="submit" value="Add Category"/>
    </form>
    <p class="alert" th:if="${message}" th:text="${message}"></p>
    <br>
    <br>
    <a id="markRemoval" class="buttonLinks" th:href="@{/category/delete}">Mark Categories for Removal</a>
    <br>
    <br>
    <h4>Existing Categories (Default)</h4>
    <ul class="categoryColumn" th:each="category : ${categories}">
        <li>
            <a th:text="${category.name}"></a>
        </li>
    </ul>

    <h4>My Categories</h4>
    <ul>

    </ul>
</div>

</body>
</html>