<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <link th:href="@{/css/recipe-storage.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script th:src="@{/js/recipe-storage.js}"></script>


    <title th:text="'My Recipe Book: ' + ${title}"></title>
</head>
<body>

<div th:fragment="navigation">
<!--    <div th:if="${session} == null">-->
        <h1 th:text="${title}"></h1>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/recipe/browse}">Browse Recipes</a>
            <a th:href="@{/recipe/add}">Add Recipe</a>
            <a th:href="@{/category/add}">Add Category</a>
            <a th:href="@{/logout}">Log In</a>
        </nav>
<!--    </div>-->
<!--    <div th:if="${session} != null">-->
<!--        <h1 th:text="${title}"></h1>-->
<!--        <nav>-->
<!--            <a th:href="@{/}">Home</a>-->
<!--            <a th:href="@{/recipe/browse}">Browse Recipes</a>-->
<!--            <a th:href="@{/recipe/add}">Add Recipe</a>-->
<!--            <a th:href="@{/category/add}">Add Category</a>-->
<!--            <a th:href="@{/logout}">Logout</a>-->
<!--        </nav>-->
<!--    </div>-->
</div>

</body>
</html>