<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <link th:href='@{/css/recipe-storage.css}' type='text/css' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
    <script src='https://code.jquery.com/jquery-3.5.0.js'></script>
    <script th:src='@{/js/recipe-storage.js}'></script>


    <title th:text="'Recipe Book: ' + ${title}"></title>
</head>
<body>

<div class="header" th:fragment="navigation">
    <div th:if="${title} != 'Log In' and ${title} != 'Register'">
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/recipe/browse}">My Recipes</a>
            <a th:href="@{/recipe/add}">Add Recipe</a>
            <a th:href="@{/category/add}">Add Category</a>
            <a th:href="@{/logout}">Logout</a>
        </nav>
    </div>
    <div th:if="${title} == 'Log In' or ${title} == 'Register'">
        <nav>
            <a th:href="@{/login}">Log in</a>
<!--            <a th:href="@{/register}">Register</a>-->
        </nav>
    </div>
    <h1 th:text="${title}"></h1>
</div>

</body>
</html>