<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<form method="post">
    <label for="searchTerm">Search</label>
    <input type="text" name="searchTerm" id="searchTerm"/>
    <input type="submit" value="Search" />
</form>

<ul th:each="recipe : ${recipes}">
    <li>
        <a th:href="@{'/recipe/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
    </li>
</ul>

</body>
</html>