<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class="pageContent">

    <div th:replace="fragments :: navigation"></div>

    <h3>Random Recipe:</h3>
    <a th:href="@{'/recipe/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
    <p th:text="${recipe.description}"></p>

    <div>
        <h3>Browse by Category</h3>
        <ul>
            <li th:each="category : ${categories}">
                <a th:href="@{'/recipe/browseByCategory/' + ${category.id}}" th:text="${category.name}"></a>
            </li>
        </ul>
    </div>

    <!--SEARCH RESULTS-->
    <div>
        <h3 th:if="${recipes}">Search Results</h3>
        <p th:if="${recipes} ? (${recipes.size()} == 0? 'true')">No recipes found.</p>
        <ul th:each="recipe : ${recipes}">
            <li>
                <a th:href="@{'/recipe/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
            </li>
    </ul>
    </div>
</div>

</body>
</html>