<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: navigation"></div>

<div class="pageContent">
    <form method="post">
        <div class="formContent">
            <h3>Welcome!</h3>
            <p>Log in to open your recipe book.</p>
            <div class="register-login">
                <label class="authLabel" th:for="username">Username</label>
                <input class="authentication" th:field="${loginFormDTO.username}"/>
                <p class="errors" th:errors="${loginFormDTO.username}"></p>
            </div>
            <div class="register-login">
                <label class="authLabel">Password</label>
                <input class="authentication" th:field="${loginFormDTO.password}" type="password"/>
                <p class="errors" th:errors="${loginFormDTO.password}"></p>
            </div>
        </div>

        <input type="submit" value="Log In"/>
    </form>

    <p>No account? <a href="/register">Create one now.</a></p>
</div>

</body>
</html>